<% include partials/header %>
<div>
	
<div class="container">

<form action="events" method="GET">	
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form action="ADDevents" method="GET">	
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>

<% include partials/footer %>